header {
    width: 100%;
    background: $navgradient;
}
nav {
    width: 90%;
    min-height: 10vh;
    margin: 0 auto;
    @include flex(row, space-between, center);
    flex-wrap: wrap;
}
ul {
    flex: 1 1 40rem;
    @include flex(row, space-evenly, center);
    font-size: $listsize;
    li{
        border-left: 1px solid #F1F4FFFF;
        padding-left: 1.5rem;
    }
    a {
        color: #F1F4FFFF;
        font-family: "Poppins-Medium", sans-serif;
        &:hover {
            text-shadow: 1px 1px 5px#2D2926FF;
        }
    }
}
.nav-logo {
    flex: 1 1 40rem;
}
.hero {
    position: relative;
    min-height: 90vh;
    @include flex(column, center, center);
    background: linear-gradient(top, #2D2926FF, #E94B3CFF);
    z-index: -2;
    overflow: hidden;
    .intro-left {
        position: absolute;
        top: 20%;
        left: 5%;
        z-index: -1;      
        #man {
            animation: man 1s ease-in-out;
        }
        #hat {
            animation: hat 1s ease-in-out;
        }
        #left {
            animation: left 1s ease-in-out;
        }
        #left {
            animation: salt 2s ease-in-out infinite alternate;
        }
        #right {
            animation: salt 2s ease-in-out infinite alternate-reverse 1s;
        } 
    }
    h1 {
        font-family: "Lobster";
        margin: 0 0 1rem;
        color: #F1F4FFFF;
    }
    span {
        font-size: 10rem;
        display: block;
    }
    .button-hero {
        @include buttonhero();
        margin: 4rem 0 0.5rem;
        background-color: #2D2926FF;
        color: #E94B3CFF;
        transition: all 350ms ease-in-out;
        cursor: pointer;
        &:hover {
            font-size: 2.15rem;
            box-shadow: 4px 4px 6px #000000;
        }
    }
    .hero-social {
        padding: 2rem;
        margin-bottom: 10rem;
        a {
            padding-right: 1rem;
            &:hover {
                text-shadow: 4px 4px 6px #000000 ;
            }
        }
    }
    .spoons {
        position: absolute;
        bottom: 0%;
        animation: spoon 1s ease-in-out ;
    }
    .lemons {
        position: absolute;
        bottom: -20%;
        transform: scaleY(-1) rotateZ(55deg);
        right: 5%;
        animation: lemon 1s ease-in-out;
    }
    .tomato {
        position: absolute;
        bottom: -15%;
        transform: scaleY(-1) rotateZ(35deg) translateX(25%);
        right: 4%;
        animation: tomato 1s ease-in-out;
    }
    .grass {
        position: absolute;
        bottom: -6%;
        transform: scaleY(-1) rotateZ(15deg) translateX(50%);
        right: 2%;
        animation: grass 1s ease-in-out;
    }
}

