$header1: 7rem;
$header2: 5rem;
$header3: 4rem;
$header4: 2rem;
$listsize: 2.5rem;
$navgradient: linear-gradient(bottom, #2D2926FF, #E94B3CFF);

@font-face {
    src: url(/fonts/Lobster-Regular.ttf);
    font-family: "Lobster";
}
@font-face {
    src: url(/fonts/Poppins-Medium.ttf);
    font-family: "Poppins-Medium", sans-serif;
}
@font-face {
    src: url(/fonts/Poppins-Thin.ttf);
    font-family: "Poppins-Thin", sans-serif;
}

@mixin buttonhero() {
    padding: 1.5rem 4rem;
    outline-style: none;
    border-style: none;
    border-radius: 1rem;
    font-size: 2rem;
}

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin card() {
  width:80%;
  margin: auto;
  min-height:70vh;
  background: #2D2926FF;
  border-radius: 1rem;
  color:rgb(253, 234, 234);
  box-shadow: 6px 6px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@import "global";
@import "intro";
@import "menu";

@keyframes intro {
    from {
        opacity: .8;
    }
    to{
        opacity: 1;
    }
}
@keyframes spoon {
    from {
        bottom: -22%;
    }
    to {
        bottom: 0%;
    }
}
@keyframes lemon {
    from {
        transform: scaleY(-1) rotateZ(0deg) translatey(-80%) translateX(-50%);
    }
    to {
        transform: scaleY(-1) rotateZ(55deg) translatey(0%) translateX(0%);
    }
}
@keyframes tomato {
    from {
        transform: scaleY(-1) rotateZ(0deg) translateX(-50%) translatey(-80%);
    }
    to {
        transform: scaleY(-1) rotateZ(35deg) translateX(25%) translatey(0%);
    }
}
@keyframes grass {
    from {
        transform: scaleY(-1) rotateZ(0deg) translateX(-50%) translatey(-80%);
    }
    to {
        transform: scaleY(-1) rotateZ(15deg) translateX(50%) translatey(0%);
    }
}

@media screen and (max-width: 1200px) {
    html {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-size: 50%;
    }
    .pizza {
        display: none;
    }
    .lemons,
    .tomato,
    .grass {
        display: none;
    }
    .spoons {
        width: 80%;
    }
    .nav-logo {
        text-align: center;
        margin-top: 1rem;
        img {
            width: 100px;
            height: 67px;
        }
    }
    ul {
        margin: 1.5rem auto;
    }
    .menu1 {
        margin: 3rem auto;
        height: inherit;
        .card1 {
            min-height: 100%;
            h2 {
                font-size: 3rem;
            }
        }
    }
    .menu2 {
        margin: 3rem auto;
        height: inherit;
        .card2 {
            min-height: 100%;
            
            h2 {
                font-size: 3rem;
            }
        }
    }
    .menu3 {
        margin: 3rem auto;
        height: inherit;
        .card3 {
            min-height: 100%;
            h2 {
                font-size: 3rem;
            }
        }
    }
    .menu4 {
        margin: 3rem auto;
        height: inherit;
        .card4 {
            min-height: 100%;
            h2 {
                font-size: 3rem;
            }
        }
    }
}