@font-face {
  src: url(/fonts/Lobster-Regular.ttf);
  font-family: "Lobster";
}

@font-face {
  src: url(/fonts/Poppins-Medium.ttf);
  font-family: "Poppins-Medium", sans-serif;
}

@font-face {
  src: url(/fonts/Poppins-Thin.ttf);
  font-family: "Poppins-Thin", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-animation: intro 350ms ease-in-out;
          animation: intro 350ms ease-in-out;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

header {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#2D2926FF), to(#E94B3CFF));
  background: linear-gradient(bottom, #2D2926FF, #E94B3CFF);
}

nav {
  width: 90%;
  min-height: 10vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

ul {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
}

ul li {
  border-left: 1px solid #F1F4FFFF;
  padding-left: 1.5rem;
}

ul a {
  color: #F1F4FFFF;
  font-family: "Poppins-Medium", sans-serif;
}

ul a:hover {
  text-shadow: 1px 1px 5px #2D2926FF;
}

.nav-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.hero {
  position: relative;
  min-height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(#2D2926FF), to(#E94B3CFF));
  background: linear-gradient(top, #2D2926FF, #E94B3CFF);
  z-index: -2;
  overflow: hidden;
}

.hero .intro-left {
  position: absolute;
  top: 20%;
  left: 5%;
  z-index: -1;
}

.hero .intro-left #man {
  -webkit-animation: man 1s ease-in-out;
          animation: man 1s ease-in-out;
}

.hero .intro-left #hat {
  -webkit-animation: hat 1s ease-in-out;
          animation: hat 1s ease-in-out;
}

.hero .intro-left #left {
  -webkit-animation: left 1s ease-in-out;
          animation: left 1s ease-in-out;
}

.hero .intro-left #left {
  -webkit-animation: salt 2s ease-in-out infinite alternate;
          animation: salt 2s ease-in-out infinite alternate;
}

.hero .intro-left #right {
  animation: salt 2s ease-in-out infinite alternate-reverse 1s;
}

.hero h1 {
  font-family: "Lobster";
  margin: 0 0 1rem;
  color: #F1F4FFFF;
}

.hero span {
  font-size: 10rem;
  display: block;
}

.hero .button-hero {
  padding: 1.5rem 4rem;
  outline-style: none;
  border-style: none;
  border-radius: 1rem;
  font-size: 2rem;
  margin: 4rem 0 0.5rem;
  background-color: #2D2926FF;
  color: #E94B3CFF;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  cursor: pointer;
}

.hero .button-hero:hover {
  font-size: 2.15rem;
  -webkit-box-shadow: 4px 4px 6px #000000;
          box-shadow: 4px 4px 6px #000000;
}

.hero .hero-social {
  padding: 2rem;
  margin-bottom: 10rem;
}

.hero .hero-social a {
  padding-right: 1rem;
}

.hero .hero-social a:hover {
  text-shadow: 4px 4px 6px #000000;
}

.hero .spoons {
  position: absolute;
  bottom: 0%;
  -webkit-animation: spoon 1s ease-in-out;
          animation: spoon 1s ease-in-out;
}

.hero .lemons {
  position: absolute;
  bottom: -20%;
  -webkit-transform: scaleY(-1) rotateZ(55deg);
          transform: scaleY(-1) rotateZ(55deg);
  right: 5%;
  -webkit-animation: lemon 1s ease-in-out;
          animation: lemon 1s ease-in-out;
}

.hero .tomato {
  position: absolute;
  bottom: -15%;
  -webkit-transform: scaleY(-1) rotateZ(35deg) translateX(25%);
          transform: scaleY(-1) rotateZ(35deg) translateX(25%);
  right: 4%;
  -webkit-animation: tomato 1s ease-in-out;
          animation: tomato 1s ease-in-out;
}

.hero .grass {
  position: absolute;
  bottom: -6%;
  -webkit-transform: scaleY(-1) rotateZ(15deg) translateX(50%);
          transform: scaleY(-1) rotateZ(15deg) translateX(50%);
  right: 2%;
  -webkit-animation: grass 1s ease-in-out;
          animation: grass 1s ease-in-out;
}

#menu {
  background: #E94B3CFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-head {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 140rem;
          flex: 1 1 140rem;
  font-family: "Poppins-Medium", sans-serif;
  text-align: center;
  padding: 3rem 0 2rem;
  color: #2D2926FF;
  text-shadow: 4px 4px 8px #fdeaea;
}

.card1 {
  width: 80%;
  margin: auto;
  min-height: 70vh;
  background: #2D2926FF;
  border-radius: 1rem;
  color: #fdeaea;
  -webkit-box-shadow: 6px 6px 10px black;
          box-shadow: 6px 6px 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card1 .card-header {
  padding: 2rem 0;
  display: block;
  margin: 0 auto;
  font-family: "Poppins-Medium", sans-serif;
}

.card1 .menu-line {
  padding: 1.5rem 1rem;
}

.card1 .menu-line h4 {
  padding-bottom: .5rem;
}

.card1 .menu-line p {
  padding-top: 1rem;
  font-size: 1.4rem;
  font-family: "Poppins-Thin", sans-serif;
}

.card2 {
  width: 80%;
  margin: auto;
  min-height: 70vh;
  background: #2D2926FF;
  border-radius: 1rem;
  color: #fdeaea;
  -webkit-box-shadow: 6px 6px 10px black;
          box-shadow: 6px 6px 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card2 .card-header {
  padding: 2rem 0;
  display: block;
  margin: 0 auto;
  font-family: "Poppins-Medium", sans-serif;
}

.card2 .menu-line {
  padding: 1.5rem 1rem;
}

.card2 .menu-line h4 {
  padding-bottom: .5rem;
}

.card2 .menu-line p {
  padding-top: 1rem;
  font-size: 1.4rem;
  font-family: "Poppins-Thin", sans-serif;
}

.card3 {
  width: 80%;
  margin: auto;
  min-height: 70vh;
  background: #2D2926FF;
  border-radius: 1rem;
  color: #fdeaea;
  -webkit-box-shadow: 6px 6px 10px black;
          box-shadow: 6px 6px 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card3 .card-header {
  padding: 2rem 0;
  display: block;
  margin: 0 auto;
  font-family: "Poppins-Medium", sans-serif;
}

.card3 .menu-line {
  padding: 1.5rem 1rem;
}

.card3 .menu-line h4 {
  padding-bottom: .5rem;
}

.card3 .menu-line p {
  padding-top: 1rem;
  font-size: 1.4rem;
  font-family: "Poppins-Thin", sans-serif;
}

.card4 {
  width: 80%;
  margin: auto;
  min-height: 70vh;
  background: #2D2926FF;
  border-radius: 1rem;
  color: #fdeaea;
  -webkit-box-shadow: 6px 6px 10px black;
          box-shadow: 6px 6px 10px black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card4 .card-header {
  padding: 2rem 0;
  display: block;
  margin: 0 auto;
  font-family: "Poppins-Medium", sans-serif;
}

.card4 .menu-line {
  padding: 1.5rem 1rem;
}

.card4 .menu-line h4 {
  padding-bottom: .5rem;
}

.card4 .menu-line p {
  padding-top: 1rem;
  font-size: 1.4rem;
  font-family: "Poppins-Thin", sans-serif;
}

.menu1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.menu2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.menu3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.menu4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

#menu2 {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#E94B3CFF), to(#F1F4FFFF));
  background: linear-gradient(top, #E94B3CFF, #F1F4FFFF);
}

.pizza-menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pizza-menu .menu-container {
  position: relative;
  background: white;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.pizza-menu .menu-container:hover h4 {
  -webkit-text-fill-color: black;
}

.pizza-menu .menu-container:hover .image {
  opacity: 0;
}

.pizza-menu .menu-container h4 {
  position: absolute;
  font-size: 3rem;
  font-family: "Poppins-Medium", sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
  -webkit-text-fill-color: white;
}

.pizza-menu .menu-container .image {
  display: block;
  width: 358.523px;
  height: 265.881px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.kebab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.kebab-menu .menu-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
  padding: 5rem 1.5rem;
}

.kebab-menu .menu-container h4 {
  position: absolute;
  font-size: 3rem;
  font-family: "Poppins-Medium", sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #E94B3CFF;
  z-index: 1;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.kebab-menu .menu-container img {
  width: 398.523px;
  height: 265.881px;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.kebab-menu .menu-container img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.sides-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sides-menu .menu-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
  padding: 5rem 1.5rem;
}

.sides-menu .menu-container h4 {
  position: absolute;
  font-size: 3rem;
  font-family: "Poppins-Medium", sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #E94B3CFF;
  z-index: 1;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.sides-menu .menu-container img {
  width: 398.523px;
  height: 265.881px;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.sides-menu .menu-container img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.drinks-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.drinks-menu .menu-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  position: relative;
  padding: 5rem 1.5rem;
}

.drinks-menu .menu-container h4 {
  position: absolute;
  font-size: 3rem;
  font-family: "Poppins-Medium", sans-serif;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #E94B3CFF;
  z-index: 1;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.drinks-menu .menu-container img {
  width: 398.523px;
  height: 265.881px;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.drinks-menu .menu-container img:hover {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@-webkit-keyframes intro {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

@keyframes intro {
  from {
    opacity: .8;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes man {
  from {
    -webkit-transform: translatey(-20%);
            transform: translatey(-20%);
  }
  to {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

@keyframes man {
  from {
    -webkit-transform: translatey(-20%);
            transform: translatey(-20%);
  }
  to {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

@-webkit-keyframes hat {
  from {
    -webkit-transform: translatey(20%);
            transform: translatey(20%);
  }
  to {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

@keyframes hat {
  from {
    -webkit-transform: translatey(20%);
            transform: translatey(20%);
  }
  to {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

@-webkit-keyframes salt {
  from {
    -webkit-transform: translatey(-7%);
            transform: translatey(-7%);
  }
  to {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

@keyframes salt {
  from {
    -webkit-transform: translatey(-7%);
            transform: translatey(-7%);
  }
  to {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

@-webkit-keyframes spoon {
  from {
    bottom: -22%;
  }
  to {
    bottom: 0%;
  }
}

@keyframes spoon {
  from {
    bottom: -22%;
  }
  to {
    bottom: 0%;
  }
}

@-webkit-keyframes lemon {
  from {
    -webkit-transform: scaleY(-1) rotateZ(0deg) translatey(-80%) translateX(-50%);
            transform: scaleY(-1) rotateZ(0deg) translatey(-80%) translateX(-50%);
  }
  to {
    -webkit-transform: scaleY(-1) rotateZ(55deg) translatey(0%) translateX(0%);
            transform: scaleY(-1) rotateZ(55deg) translatey(0%) translateX(0%);
  }
}

@keyframes lemon {
  from {
    -webkit-transform: scaleY(-1) rotateZ(0deg) translatey(-80%) translateX(-50%);
            transform: scaleY(-1) rotateZ(0deg) translatey(-80%) translateX(-50%);
  }
  to {
    -webkit-transform: scaleY(-1) rotateZ(55deg) translatey(0%) translateX(0%);
            transform: scaleY(-1) rotateZ(55deg) translatey(0%) translateX(0%);
  }
}

@-webkit-keyframes tomato {
  from {
    -webkit-transform: scaleY(-1) rotateZ(0deg) translateX(-50%) translatey(-80%);
            transform: scaleY(-1) rotateZ(0deg) translateX(-50%) translatey(-80%);
  }
  to {
    -webkit-transform: scaleY(-1) rotateZ(35deg) translateX(25%) translatey(0%);
            transform: scaleY(-1) rotateZ(35deg) translateX(25%) translatey(0%);
  }
}

@keyframes tomato {
  from {
    -webkit-transform: scaleY(-1) rotateZ(0deg) translateX(-50%) translatey(-80%);
            transform: scaleY(-1) rotateZ(0deg) translateX(-50%) translatey(-80%);
  }
  to {
    -webkit-transform: scaleY(-1) rotateZ(35deg) translateX(25%) translatey(0%);
            transform: scaleY(-1) rotateZ(35deg) translateX(25%) translatey(0%);
  }
}

@-webkit-keyframes grass {
  from {
    -webkit-transform: scaleY(-1) rotateZ(0deg) translateX(-50%) translatey(-80%);
            transform: scaleY(-1) rotateZ(0deg) translateX(-50%) translatey(-80%);
  }
  to {
    -webkit-transform: scaleY(-1) rotateZ(15deg) translateX(50%) translatey(0%);
            transform: scaleY(-1) rotateZ(15deg) translateX(50%) translatey(0%);
  }
}

@keyframes grass {
  from {
    -webkit-transform: scaleY(-1) rotateZ(0deg) translateX(-50%) translatey(-80%);
            transform: scaleY(-1) rotateZ(0deg) translateX(-50%) translatey(-80%);
  }
  to {
    -webkit-transform: scaleY(-1) rotateZ(15deg) translateX(50%) translatey(0%);
            transform: scaleY(-1) rotateZ(15deg) translateX(50%) translatey(0%);
  }
}

@media screen and (max-width: 1200px) {
  html {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 50%;
  }
  .pizza {
    display: none;
  }
  .lemons,
  .tomato,
  .grass {
    display: none;
  }
  .spoons {
    width: 80%;
  }
  .nav-logo {
    text-align: center;
    margin-top: 1rem;
  }
  .nav-logo img {
    width: 150px;
    height: 60px;
  }
  ul {
    margin: 2rem auto;
  }
  .menu1 {
    margin: 3rem auto;
    height: inherit;
  }
  .menu1 .card1 {
    min-height: 100%;
  }
  .menu1 .card1 h2 {
    font-size: 3rem;
  }
  .menu2 {
    margin: 3rem auto;
    height: inherit;
  }
  .menu2 .card2 {
    min-height: 100%;
  }
  .menu2 .card2 h2 {
    font-size: 3rem;
  }
  .menu3 {
    margin: 3rem auto;
    height: inherit;
  }
  .menu3 .card3 {
    min-height: 100%;
  }
  .menu3 .card3 h2 {
    font-size: 3rem;
  }
  .menu4 {
    margin: 3rem auto;
    height: inherit;
  }
  .menu4 .card4 {
    min-height: 100%;
  }
  .menu4 .card4 h2 {
    font-size: 3rem;
  }
  .intro-left {
    display: none;
  }
  .menu-container {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */